body section > svg.off{
    width: 150px;
    height: 150px;
    fill: white;
}
body section > svg.on{
    fill: blue;
}
body section#secTens > svg.on{
    fill: darkblue
}
body section#secOnes > svg.on{
    fill: darkblue
}
body > section{
    margin: 0px;
    padding: 0px;
    width: 150px;
    float: left;
    background-color: deepskyblue;
}
body section#secTens{
    padding: 154px 0px 0px 0px;
}
body section#minuteTens{
    padding: 154px 0px 0px 0px;
}
body section#hourTens{
    padding: 308px 0px 0px 0px;
}
body section svg{
    padding: 0px;
    margin: 0px;
}
body p{
    margin: 10px;
    padding: 10px 10px;
    float: left;
    background-color: lightgreen;
}